---
layout: page
title: "About"
description: "Hey, this is dove."
header-img: "img/about-bg.jpg"
---

<!-- Language Selector -->
<select class="sel-lang" onchange= "onLanChange(this.options[this.options.selectedIndex].value)">
    <option value="0" selected> message </option>
    <option value="1"> photo </option>
</select>

<!-- Chinese Version -->
<div class="message post-container">
    {% capture about_message %}{% include about/message.md %}{% endcapture %}
    {{ about_message | markdownify }}
</div>

<!-- English Version -->
<div class="photo post-container">
    {% capture about_photo %}{% include about/photo.md %}{% endcapture %}
    {{ about_photo | markdownify }}
</div>

<!-- Handle Language Change -->
<script type="text/javascript">
    // get nodes
    var $message = document.querySelector(".message");
    var $photo = document.querySelector(".photo");
    var $select = document.querySelector("select");

    // bind hashchange event
    window.addEventListener('hashchange', _render);

    // handle render
    function _render(){
        var _hash = window.location.hash;
        // photo
        if(_hash == "#photo"){
            $select.selectedIndex = 1;
            $photo.style.display = "block";
            $message.style.display = "none";
        // message by default
        }else{
            // not trigger onChange, otherwise cause a loop call.
            $select.selectedIndex = 0;
            $message.style.display = "block";
            $photo.style.display = "none";
        }
    }

    // handle select change
    function onLanChange(index){
        if(index == 0){
            window.location.hash = "#message"
        }else{
            window.location.hash = "#photo"
        }
    }

    // init
    _render();
</script>


{% if site.disqus_username %}
<!-- disqus 评论框 start -->
<div class="comment">
    <div id="disqus_thread" class="disqus-thread">

    </div>
</div>
<!-- disqus 评论框 end -->

<!-- disqus 公共JS代码 start (一个网页只需插入一次) -->
<script type="text/javascript">
    /* * * CONFIGURATION VARIABLES * * */
    var disqus_shortname = "{{site.disqus_username}}";
    var disqus_identifier = "{{site.disqus_username}}/{{page.url}}";
    var disqus_url = "{{site.url}}{{page.url}}";

    (function() {
        var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
        dsq.src = '//' + disqus_shortname + '.disqus.com/embed.js';
        (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
    })();
</script>
<!-- disqus 公共JS代码 end -->
{% endif %}
